
.container{    
    width: 100vw;
    height: 100vh;
}

.bg-img1{
    background-image: url();
    background-color: #000;
    background-size: cover;
}
.bg-img2{
    background-image: url();
    background-color: rgb(255, 0, 0);
    background-size: cover;
}
.bg-img3{
    background-image: url();
    background-color: rgb(123, 255, 0);
    background-size: cover;
}
